body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-image: url('../images/sfondobody.png');  /*Prendo lo sfondo dalla cartella*/
	background-image: no-repeat;    /*Faccio in modo che lo sfondo non si ripeta*/
	background-attachment: fixed;     /*Blocco lo sfondo durante lo scorrimento*/
}


/*---- Blocco l'header durante lo scroll e gli do un colore di sfondo ----*/
header{
	top: 0;
	position: sticky;   /*Serve a bloccare l'header*/
	display: flex;
	justify-content: flex-end;  /*Li sposto nella fine della riga*/
	align-items: center;
	padding: 0px 3%;
	background: linear-gradient(to bottom, #efefef 0%, #a2a2a2 100%);
	min-width: 100px;
	font-weight: bold; 
}

/*---- Tolgo la sottolineatura dai link, metto il loro colore sul nero e applico il font ----*/
nav ul li a{
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	color: black;
}

/*---- Inserisco la transizione al passaggio del mouse ----*/
nav ul li a{
	transition: all 0.3s ease 0s;
}

/*---- Colore bianco al passaggio del mouse ----*/
nav ul li a:hover{
	color: white;
}

/*---- Tolgo i pallini stile lista dalla nav ----*/
nav ul{
	list-style: none;
}

/*---- Sistemo gli spazi nella nav ----*/
nav ul li{
	display: inline-block;
	padding: 0px 20px;
}

/*---- Sistemo gli spazi delle immagini del logo e dell'admin nella nav ----*/
.logo{
	margin-right: auto;
}

.admin{
	margin-left: 35px;
}

/*---- Sistemo l'arcadebox al centro ----*/
#arcadebox{
	background: url('../images/login.png') no-repeat center;
	height: 800px;
	max-width: 100%;
	max-height: 100%;
}

/*---- Sistemo gli spazi dove inserire i dati al centro dell'arcade box ----*/
#dati{
	text-align: center;
	padding-top: 330px;
}

/*---- Regolo le grandezze degli spazi dove inserire i dati ----*/
input {
	font: 14px 'Press Start 2P', cursive;
    border: 2px solid #ccc;   /*Coloro il bordo dei boxcon un po' di grigio*/
    padding: 15px;  			 /*Grandezza dei box*/
	margin-bottom: 15px;     /*Margine tra i due box*/
    width: 200px;
}

/*---- Regolo le grandezze del bottone accedi ----*/
button {
    font: 14px 'Press Start 2P', cursive;
    background-color: #ed1b23;
    color: white;
    padding: 15px;
    cursor: pointer;   /*Il cursore cambia al passaggio*/
    border: none;
}

.error{
	font-family: 'Press Start 2P', cursive;
	margin: auto;
	display: inline;
	background: #F2DEDE;
	color: #A94442;
	font-size: 13px;
	padding: 5px;
	width: 25%;
	max-width: 100%;
	border-radius: 5px;
}

/*----Posiziono i footer in fondo alla pagina con i vari testi----*/

/*---- Primo footer con "Chi siamo" e la descrizione del sito ----*/
#footer1{
	background: #C0C0C0;
	font-family: 'Montserrat', sans-serif;
 	margin: auto;
 	padding: 5px 0px;
    width: 920px;
    max-width: 100%;
}

h1#titolo1{
	margin-top: 0px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	padding-left: 10px;
}

p.info1{
	margin-top: -15px;
	padding-left: 10px;
	margin-bottom: 30px;
}

/*---- Secondo footer con i copyright e la descrizione del progetto ----*/
#footer2{  				                 
    background: black;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
 	padding: 5px 0;
    width: 920px;
    max-width: 100%;
    margin-top: -0.7%;
}

h1#titolo2{
	color: white;
	font-weight: bold;
	padding-left: 10px;
	font-size: 20px;

}

p.info2{
	color: white;
	padding-left: 10px;
}