body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-image: url('../images/sfondobody.png');  /*Prendo lo sfondo dalla cartella*/
	background-image: no-repeat;    /*Faccio in modo che lo sfondo non si ripeta*/
	background-attachment: fixed;     /*Blocco lo sfondo durante lo scorrimento*/
}


/*---- Blocco l'header durante lo scroll e gli do un colore di sfondo ----*/
header{
	top: 0;
	position: sticky;   /*Serve a bloccare l'header*/
	display: flex;
	justify-content: flex-end;  /*Li sposto nella fine della riga*/
	align-items: center;
	padding: 0px 3%;
	background: linear-gradient(to bottom, #efefef 0%, #a2a2a2 100%);
	min-width: 100px;  
	font-weight: bold; 
}

/*---- Tolgo la sottolineatura dai link, metto il loro colore sul nero e applico il font ----*/
nav ul li a{
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	color: black;
}

/*---- Inserisco la transizione al passaggio del mouse ----*/
nav ul li a{
	transition: all 0.3s ease 0s;
}

/*---- Colore bianco al passaggio del mouse ----*/
nav ul li a:hover{
	color: white;
}

/*---- Tolgo i pallini stile lista dalla nav ----*/
nav ul{
	list-style: none;
}

/*---- Sistemo gli spazi nella nav ----*/
nav ul li{
	display: inline-block;
	padding: 0px 20px;
}

/*---- Sistemo gli spazi delle immagini del logo e dell'admin nella nav ----*/
.logo{
	margin-right: auto;
}

.admin{
	margin-left: 35px;
}

/*---- Posiziono il contenuto del sito al centro ----*/
.content{               
    width: 1200px;		/*Misura della larghezza che preferisco*/
    max-width: 100%;		
	margin: auto;       /*In caso mettere 10px auto*/
	padding: 2px 0px;
	background: white;
	font-family: 'Montserrat', sans-serif;
	word-wrap: break-word;  /*Serve per andare a capo automaticamente nel caso di riga troppo lunga*/
}

input{
	margin-left: 15px;
}

textarea{
	margin-left: 15px;
	resize: none;  		/*Tolgo il ridimensionamento della textarea*/
}

b{
	padding-left: 15px;
}

input.agg{
	cursor: pointer;
}

hr.orizzontalerec{
	background: linear-gradient(to bottom, #efefef 0%, #a2a2a2 100%);
	border: none;
	border-top: 1px solid hsla(200, 10%, 80%,100);
	width: 1170px;
	max-width: 96%;
	height: 0.5px;
}

/*----Posiziono i footer in fondo alla pagina con i vari testi----*/

/*---- Primo footer con "Chi siamo" e la descrizione del sito ----*/
#footer1{
	background: #C0C0C0;
	font-family: 'Montserrat', sans-serif;
 	margin: auto;
 	padding: 5px 0px;
    width: 1200px;
    max-width: 100%;
}

h1#titolo1{
	margin-top: 0px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	padding-left: 10px;
}

p.info1{
	margin-top: -15px;
	padding-left: 10px;
	margin-bottom: 30px;
}

/*---- Secondo footer con i copyright e la descrizione del progetto ----*/
#footer2{  				                 
    background: black;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
 	padding: 5px 0;
    width: 1200px;
    max-width: 100%;
    margin-top: -0.7%;
}

h1#titolo2{
	color: white;
	font-weight: bold;
	padding-left: 10px;
	font-size: 20px;

}

p.info2{
	color: white;
	padding-left: 10px;
}